#section-1 {
  background-color: #207178;
}
#section-2 {
  background-color: #f5e9be;
}
#section-3 {
  background-color: #174c4f;
}
#section-4 {
  background-color: #ff9666;
}
#section-5 {
  background-color: #207178;
}
#section-6 {
  background-color: #ffe184;
}
#section-7 {
  background-color: #207178;
}
#section-8 {
  background-color: #f5e9be;
}
