*,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}
#section-1 {
  background-image: url("img/paper-texture.png");
  background-repeat: repeat;
  background-color: #207178;
}
#section-2 {
  background-color: #f5e9be;
}
#section-3 {
  background-image: url("img/paper-texture.png");
  background-repeat: repeat;
  background-color: #174c4f;
}
#section-4 {
  background-color: #ff9666;
}
#section-5 {
  background-image: url("img/paper-texture.png");
  background-repeat: repeat;
  background-color: #207178;
}
#section-6 {
  background-color: #ffe184;
}
#section-7 {
  background-image: url("img/paper-texture.png");
  background-repeat: repeat;
  background-color: #207178;
}
#section-8 {
  background-color: #f5e9be;
}
