*,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ul {
  list-style-type: none;
}
html,
body {
  height: 100%;
}
section {
  z-index: 2;
  position: relative;
  padding: 50px 0;
}
#section-1 {
  height: 100%;
  background-image: url("img/paper-texture.png");
  background-repeat: repeat;
  background-color: #207178;
  background-attachment: fixed;
  padding: 0;
}
#section-1 .flex {
  position: fixed;
  width: 80%;
  left: 10%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
#section-1 header {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -o-box-flex: 3;
  -ms-box-flex: 3;
  box-flex: 3;
  -webkit-flex-grow: 3;
  flex-grow: 3;
}
#section-1 header:first-child {
  text-align: right;
}
#section-1 header,
#section-1 .backbone {
  margin: auto;
  width: 300px;
}
#section-1 .backbone {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  height: 80%;
}
#section-1 .backbone .container {
  background-color: #174c4f;
  width: 90%;
  height: 100%;
  margin: auto;
}
#section-1 h1 {
  font-family: 'Fjalla One', 'Helvetica', 'Arial', sans-serif;
  color: #ffe184;
  text-transform: uppercase;
  font-size: 5em;
  text-shadow: 0 2px 0 rgba(0,0,0,0.5);
}
#section-1 h2 {
  font-family: 'Inconsolata', 'Monaco', monospace;
  color: #ff9666;
  text-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
#section-2 {
  background-color: #f5e9be;
  overflow: hidden;
}
#section-2 .bones {
  position: absolute;
  right: 50px;
  width: 9%;
  height: 100%;
  top: 30%;
}
#section-2 .bones img {
  width: 100%;
  display: block;
}
#section-2 .flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#section-2 h2 {
  width: 80%;
  margin-left: 20%;
  margin-bottom: 25px;
  font-family: 'Droid Serif', 'Georgia', 'Times New Roman', serif;
  color: #207178;
  font-size: 2.5em;
  text-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
#section-2 h2 .emphasize {
  font-size: 2em;
  color: #ff9666;
  font-family: 'Fjalla One', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
  text-shadow: 0 2px 0px #fff;
}
#section-2 p {
  color: #ff9666;
  font-family: 'Inconsolata', 'Monaco', monospace;
  font-size: 2em;
  margin-left: 30%;
  text-shadow: 0 1px 0px rgba(255,255,255,0.75);
}
#section-3 {
  background-image: url("img/paper-texture.png");
  background-repeat: repeat;
  background-color: #174c4f;
  width: 100%;
}
#section-3 .flex {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
#section-3 .bones {
  margin: 30px auto auto 70px;
  width: 15%;
  height: 90%;
}
#section-3 .bones img {
  width: 100%;
}
#section-3 .bones img:nth-child(2) {
  width: 80%;
  margin-top: -25px;
}
#section-3 .bones img:nth-child(3) {
  margin-top: 20px;
}
#section-3 .bones img:nth-child(even) {
  margin-left: 110px;
}
#section-3 .text {
  width: 60%;
}
#section-3 h2 {
  font-family: 'Fjalla One', 'Helvetica', 'Arial', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  color: #f5e9be;
  margin-bottom: 70px;
  text-shadow: 1px 1px 2px #000;
}
#section-3 li {
  color: #ffe184;
  font-family: 'Droid Serif', 'Georgia', 'Times New Roman', serif;
  font-size: 1.25em;
  margin-bottom: 75px;
}
#section-3 li:before {
  color: #207178;
  font-family: 'Inconsolata', 'Monaco', monospace;
  content: '//';
  padding-right: 15px;
  font-size: 1.1em;
}
#section-3 li:nth-child(1) {
  padding-left: 15%;
}
#section-3 li:nth-child(2) {
  padding-left: 10%;
}
#section-3 li:nth-child(3) {
  padding-left: 5%;
}
#section-3 li:nth-child(4) {
  padding-left: 0%;
}
#section-4 {
  background-color: #ff9666;
  color: #f5e9be;
  text-align: center;
}
#section-4 a {
  color: #f5e9be;
  text-decoration: none;
}
#section-4 a:hover {
  color: #ff9666;
  background-color: #f5e9be;
}
#section-4 h2 {
  font-size: 2.5em;
}
#section-4 h3 {
  font-size: 3.75em;
  margin-bottom: 15px;
}
#section-4 h2,
#section-4 h3 {
  font-family: 'Fjalla One', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
#section-4 h4 {
  font-size: 2em;
  font-family: 'Inconsolata', 'Monaco', monospace;
  color: #ff9666;
  background-color: #f5e9be;
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.25), inset 0 1px 1px rgba(255,255,255,0.5);
  box-shadow: 0 2px 10px rgba(0,0,0,0.25), inset 0 1px 1px rgba(255,255,255,0.5);
  text-shadow: 0 1px 0px #fff;
}
#section-4 h5 {
  font-family: 'Droid Serif', 'Georgia', 'Times New Roman', serif;
  font-size: 2em;
  margin-bottom: 10px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
#section-4 ul {
  font-family: 'Inconsolata', 'Monaco', monospace;
}
#section-4 li {
  display: inline-block;
}
#section-4 li a {
  padding: 5px;
  -webkit-transition: 0.25s ease-out;
  -moz-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  -ms-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
#section-4 li a:hover {
  text-shadow: 0 1px 1px rgba(255,255,255,0.25);
}
#section-4 .bones {
  height: 300px;
  margin: auto;
  width: 180px;
}
#section-4 img {
  display: block;
  width: 100%;
}
#section-4 img:last-child {
  margin-left: -15px;
}
#section-5 {
  background-image: url("img/paper-texture.png");
  background-repeat: repeat;
  background-color: #174c4f;
  font-family: 'Fjalla One', 'Helvetica', 'Arial', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  color: #f5e9be;
  width: 100%;
  padding: 100px 0;
}
#section-5 .flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
#section-5 h3 {
  line-height: 0;
  margin-top: 20px;
  margin-bottom: 55px;
  color: #207178;
  text-align: center;
  font-size: 2em;
  width: 100%;
  text-shadow: 0 0 5px rgba(0,0,0,0.25);
}
#section-5 h2 {
  width: 40%;
  text-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
#section-5 h2:first-child {
  text-align: right;
}
#section-5 h2:nth-child(2) {
  margin-left: 20%;
}
#section-5 h2:last-child {
  font-size: 1.1em;
  text-align: center;
  width: 100%;
}
#section-6 {
  background-color: #ffe184;
}
#section-6 h2 {
  color: #207178;
  font-family: 'Fjalla One', 'Helvetica', 'Arial', sans-serif;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 0 1px 0 #fff;
}
#section-6 h3 {
  color: #207178;
  font-family: 'Droid Serif', 'Georgia', 'Times New Roman', serif;
  font-size: 2em;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
}
#section-6 ul {
  overflow: hidden;
  width: auto;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#section-6 li {
  font-family: 'Inconsolata', 'Monaco', monospace;
  color: #ff9666;
  font-size: 1.75em;
  display: inline-block;
  margin: 0 auto 30px;
  background-color: #001e7b;
  padding: 20px;
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.5), 0 1px 20px rgba(0,0,0,0.25);
  box-shadow: 0 2px 0 rgba(0,0,0,0.5), 0 1px 20px rgba(0,0,0,0.25);
}
#section-7 {
  background-image: url("img/paper-texture.png");
  background-repeat: repeat;
  background-color: #207178;
  width: 100%;
  min-height: 500px;
}
#section-7 .flex {
  width: 80%;
  left: 10%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
#section-7 header {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -o-box-flex: 3;
  -ms-box-flex: 3;
  box-flex: 3;
  -webkit-flex-grow: 3;
  flex-grow: 3;
}
#section-7 header:first-child {
  text-align: right;
}
#section-7 header,
#section-7 .backbone {
  margin: auto;
  width: 300px;
}
#section-7 .backbone {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  height: 80%;
}
#section-7 .backbone .container {
  background-color: #174c4f;
  width: 90%;
  height: 100%;
  margin: auto;
}
#section-7 h1 {
  font-family: 'Fjalla One', 'Helvetica', 'Arial', sans-serif;
  color: #f5e9be;
  text-transform: uppercase;
  font-size: 5em;
  text-shadow: 0 2px 0 rgba(0,0,0,0.5);
}
#section-7 h2,
#section-7 h3 {
  font-family: 'Inconsolata', 'Monaco', monospace;
  color: #ffe184;
  font-size: 1.5em;
}
#section-7 h2 {
  padding-bottom: 5px;
}
#section-7 .button-container {
  text-align: center;
  margin-bottom: 20px;
}
#section-7 .button {
  background-color: #ffe184;
  color: #207178;
  font-family: 'Fjalla One', 'Helvetica', 'Arial', sans-serif;
  text-decoration: none;
  font-size: 2.5em;
  text-transform: uppercase;
  padding: 10px 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  -webkit-transition: 0.25s ease-out;
  -moz-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  -ms-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
#section-7 .button:hover {
  -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.5);
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
}
#section-8 {
  background-color: #f5e9be;
}
#section-8 .container {
  width: 70%;
  margin: auto;
}
#section-8 h2 {
  font-family: 'Fjalla One', 'Helvetica', 'Arial', sans-serif;
  font-size: 4em;
  color: #ff9666;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
}
#section-8 li {
  font-size: 1.75em;
  font-family: 'Inconsolata', 'Monaco', monospace;
  margin-bottom: 10px;
  color: #207178;
}
#section-8 span {
  font-family: 'Droid Serif', 'Georgia', 'Times New Roman', serif;
  padding: 10px;
  background-color: #207178;
  display: inline-block;
  color: #f5e9be;
}
#section-8 span a {
  text-decoration: none;
  color: #f5e9be;
  text-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
#section-8 a {
  color: #ff9666;
}
#section-8 a:hover {
  color: #001e7b;
}
.skeletor .container {
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}
.skeletor img {
  display: block;
  margin: 0 auto -12px;
}
.skeletor img:nth-child(3) {
  margin-bottom: -15px;
}
.skeletor img:nth-child(4),
.skeletor img:nth-child(5) {
  margin-bottom: -17px;
}
.skeletor img:nth-child(6) {
  margin-bottom: -19px;
}
.skeletor img:nth-child(7) {
  margin-bottom: -20px;
}
.skeletor img:nth-child(12) {
  margin-bottom: -16px;
}
.skeletor img:nth-child(25) {
  margin-bottom: -42px;
}
