#section-6
  background-color $color-emphasize

  h2
    color $color-mid
    font-family $font-primary
    font-size 4em
    text-transform uppercase
    text-align center
    margin-bottom 30px
    text-shadow 0 1px 0 #fff
  h3
    color $color-mid
    font-family $font-secondary
    font-size 2em
    text-align center
    text-shadow 0 1px 0 #fff
  ul
    overflow hidden
    width auto
    margin auto
  li
    font-family $font-tertiary
    color $color-highlight
    font-size 1.75em
    display block
    text-align center
    span
        background-color invert($color-emphasize)
        padding 20px
        margin 0 auto 25px
        display inline-block
