#section-6
  background-color $color-emphasize

  h2
    color $color-mid
    font-family $font-primary
    font-size 4em
    text-transform uppercase
    text-align center
    margin-bottom 30px
  h3
    color $color-mid
    font-family $font-secondary
    font-size 2em
    text-align center

  ul
    overflow hidden
    width auto
    margin auto
    display flex
    flex-wrap wrap
  li
    font-family $font-tertiary
    color $color-highlight
    font-size 1.75em
    display inline-block
    margin 0 auto 30px
    background-color invert($color-emphasize)
    padding 20px