#section-2
  background-color $color-light
  overflow hidden

  .bones
    position absolute
    right 50px
    width 9%
    height 100%
    img
      width 100%
      display block

  .flex
    display flex
    flex-wrap wrap

  h2
    width 80%
    margin-left 20%
    margin-bottom 25px
    font-family $font-secondary
    color $color-mid
    font-size 2.5em
    text-shadow 0 1px 1px rgba(0,0,0,.15)

    .emphasize
      font-size 2em
      color $color-highlight
      font-family $font-primary
      text-transform uppercase
      text-shadow 0 2px 0px #fff

  p
    color $color-highlight
    font-family $font-tertiary
    font-size 2em
    margin-left 30%
    text-shadow 0 1px 0px rgba(255,255,255,.75)
