#section-7
  background-image url('img/paper-texture.png')
  background-repeat repeat
  background-color $color-mid
  min-height 1200px
  width 100%
  overflow hidden

  .flex
    width 80%
    left 10%
    height 100%
    margin auto
    display flex

  header
    flex-grow 3
    margin auto
    width 300px
    &:first-child
      text-align right

  h1
    font-family $font-primary
    color $color-light
    text-transform uppercase
    font-size 5em
    text-shadow 0 2px 0 rgba(0,0,0,0.5)
  h2, h3
    font-family $font-tertiary
    color $color-emphasize
    font-size 1.5em
  h2
    padding-bottom 5px

  .button-container
    text-align center
    margin-bottom 20px
  .button
    background-color $color-emphasize
    color $color-mid
    font-family $font-primary
    text-decoration none
    font-size 2.5em
    text-transform uppercase
    padding 10px 30px
    text-align center
    text-shadow 0 1px 0 rgba(255,255,255,.5)
    transition .25s ease-out
    &:hover
      box-shadow 0 0 25px rgba(0,0,0,.5)
